[Unit]
Description=Gunicorn server for www.slistspb.fun
[Service]
Restart=on-failure
User=elspeth
WorkingDirectory=/home/elspeth/sites/www.slistspb.fun/source
ExecStart=/home/elspeth/sites/www.slistspb.fun/virtualenv/bin/gunicorn --bind unix:/tmp/www.slistspb.fun.socket superlists.wsgi:application
[Install]
WantedBy=multi-user.target